An Atlassian FedEx project based upon a prior <a href="">holiday project</a>.
</br>
By <a href="http://nicholasmuldoon.com/">Nicholas Muldoon</a>. Published 24th February 2012.</br>
</br>
THANKS TO</br>
* <a href="https://twitter.com/chrisdarroch">@chrisdarroch</a> for getting me heading in the right direction.</br>
* <a href="https://twitter.com/rmanalan">@rmanalan</a> for pointing me towards Sinatra and helping form the idea.</br>
* <a href="http://www.rubyonrails.com.au/sydney-meetups">Sydney RORO Meetup</a>, a very welcoming and encouraging crew for a newbie.</br>
* The JIRA team for great REST API's in JIRA 5.0.</br>
* <a href="https://twitter.com/OrganicSydney">@OrganicSydney</a> for encouraging me to take on a holiday project.</br>
</br>
NOTES</br>
* Link type is currently hard coded to "Epic" with "contains" (Outward) and "is part of" (Inward). Create this in your instance if you are not using the demo account.</br>
* Written in <a href="http://ruby-lang.org/">Ruby</a>, <a href="http://sinatrarb.com/">Sinatra</a> and <a href="http://jquery.com/">jQuery</a>.</br>
* Deployed to <a href="http://heroku.com/">Heroku</a>.</br>
* <a href="https://bitbucket.org/nmuldoon/storymap/src">Source is available on Bitbucket</a>.</br>
* Tested locally and against <a href="http://atlassian.com/ondemand/">OnDemand</a> (JIRA 5.0 RCx).</br>
</br>
TO DO (as at 1st January)</br>
* Enable selection of Link Type</br>
* Error checking for wrong URL's, passwords, etc</br>
* Do the DnD in the background and avoid a page refresh</br>
* Add a column for orphan stories</br>
** Could be too many, add an option to search and add to an existing epic instead, perhaps...</br>
* Allow ordering of epic columns</br>
** How will I remember the order? Does this require local storage? Avoid that.</br>
* Switch to the GreenHopper / JIRA hidden link for Epic / Story</br>
* Style issues as cards, use @rmanalang's taskboard code from GitHub</br>
* Create a parking lot diagram on the Project page for Epics</br>
* Design</br>
