<div class="hero-unit">
  <h1>Projects</h1>
  <p>Select your JIRA Project below.</p>
  <% @projects.each do |project| %>
    <a href="/storyboard/<%= project['key'] %>" class="btn btn-primary btn-large">
      <%= project['name'] %>
      <br />
    </a>
  <% end %>
</div>

<% content_for :sub_navigation do %>

  <li>
    <a href="/signout">Sign out</a>
  </li>

<% end %>