<div class="hero-unit">
  <h1>Welcome to GoStoryMap</h1>
  <p>Identify the MVP of your next product release quickly by creating a story map.</p>
  <a href="/signin" class="btn btn-primary btn-large">Sign In</a>
  </p>
</div>      

<p>Creating a Story Map for a new project is a great way to  </p>


<h5>How to set up GoStoryMap</h5>
<p>Log in, select a project or specify some JQL, develop epics, then stories, then reshuffle as needed.</p>

<% content_for :sub_navigation do %>

  <li>
    <a href="/signin">Sign in</a>
  </li>
  <li>
    <a href="/hello">About</a>
  </li>

<% end %>


