<!DOCTYPE html>
<html>
  <head>
    <title><% yield_content :title %>GoStoryMap</title>
    <link rel="shortcut icon" type="image/png" href="/img/ico_epic.png" />

    <!-- This is a special version of jQuery with RequireJS built-in -->
    <!--<script src="/scripts/firebugx.js" type="text/javascript" charset="utf-8"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/underscore.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/backbone.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/postal.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/require.js"></script>
    <script src="/js/module-loader.js"></script>
    
    <script src="/js/bootstrap.min.js"></script>
  
    <!-- <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" charset="utf-8"> -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
    <!-- END -->

    <!-- GOSTORYMAP CS/JSS -->    
	  <script type="text/javascript" src="/js/storyboard.js"></script>
    <link rel="stylesheet" href="/css/storyboard.css" type="text/css" media="screen" />
    <!-- END GOSTORYMAP CSS/JS -->

<!-- COMMENT OUT GA
        <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-XXXXXXXXXX']);
  _gaq.push(['_setDomainName', 'huboard.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
-->

  </head>
  
  <body>
    <div class="navbar navbar-fixed-top" data-dropdown="dropdown">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Home</a>
          <ul class="nav">
            <% yield_content :navigation %>
          </ul>
          <ul class="nav pull-right">
            <% yield_content :sub_navigation %>
          </ul>
        </div>
      </div><!-- /navbar-inner -->
    </div><!-- /navbar -->

    <div class="container-fluid">
      <%= yield %>
    </div>

  </body>
</html>