<hr>
<div style='display:none' class="alert alert-success">
  <p></p>
</div>

<table class="table">
  <% # Create a row for each Epic %>
  <% @epics['issues'].each do |epic| %>
    <tr>
      <td width="200px" id="droppable_<%= epic['key'] %>">
	    <strong><%= epic["fields"]["summary"] %></strong>
        <div align="right">
          <a href="http://localhost:8080/browse/<%= epic['key'] %>" target="_blank"><img src="/img/view_20.png" title="View <%= epic['key'] %>"></a>
          <a data-toggle="modal" href="#<%= epic['key'] %>"><img src="/img/create_12.png" title="Create a Story within <%= epic['key'] %>"></a>
        </div>
        
        <form id="submit_form_<%= epic['key'] %>" method="post" action="/link_to_epic">
		      <input type="hidden" name="project_key" value="<%= @project['key'] %>">
  	      <input type="hidden" name="epic_key" value="<%= epic['key'] %>">
        </form>
      </td>
      
      <% get_stories_by_epic(epic["key"])["issues"].each do |story| %>
        <td width="200px" id="draggable_<%= epic['key'] %> story_<%= story['key'] %>">
		      <div style="display:none;" class="story_key"><%= story['key'] %></div>

		      <% story["fields"]["issuelinks"].each do |link| %>
			     <% if link["type"]["name"] == "Epic" %>
			       <div style="display:none;" class="link_id"><%= link['id'] %></div>
		        <% end %>
		      <% end %>

          <%= story["fields"]["summary"] %>
          <div align="right">
	         <a href="/browse/<%= story['key'] %>" target="_blank">
	           <img src="/img/view_20.png" title="View <%= story['key'] %>">
	         </a>
          </div>
        </td>
      <% end %>
      <!-- This contains the hidden content for inline calls to add a Story -->
      <div style="display:none" class="modal" id="<%= epic['key'] %>">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h3>Create an Story</h3>
        </div>
        <div class="modal-body">
          <p>
            <form method="post" action="/create_story">
            <input type="hidden" name="project_key" value="<%= @project['key'] %>">
            <input type="hidden" name="epic_key" value="<%= epic['key'] %>">
            Summary: <input id="focus_field_<%= epic['key'] %>" type="text" name="summary" /></br>
            Description: <input type="text" name="description" /></br>
          </p>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="Create" />
          </form>
          <a href="#" data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>
      <!-- End hidden content to create a story in an inline dialog for a particular epic -->

    </tr>
  <% end %>
</table>

<!-- This contains the hidden content for inline calls to add an Epic -->
<div style='display:none' class="modal" id="addEpic">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Create an Epic</h3>
  </div>
  <div class="modal-body">
    <p>
        <form method="post" action="/create_epic">
        <input type="hidden" name="project_key" value="<%= @project['key'] %>">
        Summary: <input id="focus_field_" type="text" name="summary" /></br>
        Description: <input type="text" name="description" /></br>
    </p>
  </div>
  <div class="modal-footer">
      <input type="submit" class="btn btn-primary" value="Create" />
      </form>
    <a href="#" data-dismiss="modal" class="btn">Close</a>
  </div>
</div>
<!-- End hidden content to create an epic in an inline dialog -->

<% content_for :navigation do %>
  <li>
    <a data-toggle="modal" href="#addEpic">Add Epic</a>
  </li>
  <li>
    <a href="/board">View Rapid Board</a>
  </li>
<% end %>

<% content_for :sub_navigation do %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle data-toggle="dropdown" icon-settings">Settings</a>
    <ul class="dropdown-menu">
      <li>
        <a href="#">Configure Links</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="/signout">Sign Out</a>
  </li>
<% end %>

<% content_for :title do %><%= @project['name'] %> - <% end %>